<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>revisit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.anonymous.revisit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoSerif-Black.ttf</string>
		<string>RobotoSerif-BlackItalic.ttf</string>
		<string>RobotoSerif-Bold.ttf</string>
		<string>RobotoSerif-BoldItalic.ttf</string>
		<string>RobotoSerif-ExtraBold.ttf</string>
		<string>RobotoSerif-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif-ExtraLight.ttf</string>
		<string>RobotoSerif-ExtraLightItalic.ttf</string>
		<string>RobotoSerif-Italic.ttf</string>
		<string>RobotoSerif-Light.ttf</string>
		<string>RobotoSerif-LightItalic.ttf</string>
		<string>RobotoSerif-Medium.ttf</string>
		<string>RobotoSerif-MediumItalic.ttf</string>
		<string>RobotoSerif-Regular.ttf</string>
		<string>RobotoSerif-SemiBold.ttf</string>
		<string>RobotoSerif-SemiBoldItalic.ttf</string>
		<string>RobotoSerif-Thin.ttf</string>
		<string>RobotoSerif-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt-Black.ttf</string>
		<string>RobotoSerif_120pt-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt-Bold.ttf</string>
		<string>RobotoSerif_120pt-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt-Italic.ttf</string>
		<string>RobotoSerif_120pt-Light.ttf</string>
		<string>RobotoSerif_120pt-LightItalic.ttf</string>
		<string>RobotoSerif_120pt-Medium.ttf</string>
		<string>RobotoSerif_120pt-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt-Regular.ttf</string>
		<string>RobotoSerif_120pt-SemiBold.ttf</string>
		<string>RobotoSerif_120pt-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt-Thin.ttf</string>
		<string>RobotoSerif_120pt-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Black.ttf</string>
		<string>RobotoSerif_120pt_Condensed-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Bold.ttf</string>
		<string>RobotoSerif_120pt_Condensed-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_Condensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_Condensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Italic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Light.ttf</string>
		<string>RobotoSerif_120pt_Condensed-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Medium.ttf</string>
		<string>RobotoSerif_120pt_Condensed-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Regular.ttf</string>
		<string>RobotoSerif_120pt_Condensed-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_Condensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_Condensed-Thin.ttf</string>
		<string>RobotoSerif_120pt_Condensed-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Black.ttf</string>
		<string>RobotoSerif_120pt_Expanded-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Bold.ttf</string>
		<string>RobotoSerif_120pt_Expanded-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_Expanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_Expanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Italic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Light.ttf</string>
		<string>RobotoSerif_120pt_Expanded-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Medium.ttf</string>
		<string>RobotoSerif_120pt_Expanded-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Regular.ttf</string>
		<string>RobotoSerif_120pt_Expanded-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_Expanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_Expanded-Thin.ttf</string>
		<string>RobotoSerif_120pt_Expanded-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Black.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Bold.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Italic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Light.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Medium.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Regular.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-Thin.ttf</string>
		<string>RobotoSerif_120pt_ExtraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Black.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Bold.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Italic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Light.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Medium.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Regular.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-Thin.ttf</string>
		<string>RobotoSerif_120pt_ExtraExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Black.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Bold.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Italic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Light.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Medium.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Regular.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-Thin.ttf</string>
		<string>RobotoSerif_120pt_SemiCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Black.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Bold.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Italic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Light.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Medium.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Regular.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-Thin.ttf</string>
		<string>RobotoSerif_120pt_SemiExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Black.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Bold.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Italic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Light.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Medium.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Regular.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-Thin.ttf</string>
		<string>RobotoSerif_120pt_UltraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt-Black.ttf</string>
		<string>RobotoSerif_28pt-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt-Bold.ttf</string>
		<string>RobotoSerif_28pt-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt-Italic.ttf</string>
		<string>RobotoSerif_28pt-Light.ttf</string>
		<string>RobotoSerif_28pt-LightItalic.ttf</string>
		<string>RobotoSerif_28pt-Medium.ttf</string>
		<string>RobotoSerif_28pt-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt-Regular.ttf</string>
		<string>RobotoSerif_28pt-SemiBold.ttf</string>
		<string>RobotoSerif_28pt-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt-Thin.ttf</string>
		<string>RobotoSerif_28pt-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Black.ttf</string>
		<string>RobotoSerif_28pt_Condensed-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Bold.ttf</string>
		<string>RobotoSerif_28pt_Condensed-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_Condensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_Condensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Italic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Light.ttf</string>
		<string>RobotoSerif_28pt_Condensed-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Medium.ttf</string>
		<string>RobotoSerif_28pt_Condensed-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Regular.ttf</string>
		<string>RobotoSerif_28pt_Condensed-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_Condensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_Condensed-Thin.ttf</string>
		<string>RobotoSerif_28pt_Condensed-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Black.ttf</string>
		<string>RobotoSerif_28pt_Expanded-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Bold.ttf</string>
		<string>RobotoSerif_28pt_Expanded-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_Expanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_Expanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Italic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Light.ttf</string>
		<string>RobotoSerif_28pt_Expanded-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Medium.ttf</string>
		<string>RobotoSerif_28pt_Expanded-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Regular.ttf</string>
		<string>RobotoSerif_28pt_Expanded-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_Expanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_Expanded-Thin.ttf</string>
		<string>RobotoSerif_28pt_Expanded-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Black.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Bold.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Italic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Light.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Medium.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Regular.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-Thin.ttf</string>
		<string>RobotoSerif_28pt_ExtraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Black.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Bold.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Italic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Light.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Medium.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Regular.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-Thin.ttf</string>
		<string>RobotoSerif_28pt_ExtraExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Black.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Bold.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Italic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Light.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Medium.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Regular.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-Thin.ttf</string>
		<string>RobotoSerif_28pt_SemiCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Black.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Bold.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Italic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Light.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Medium.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Regular.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-Thin.ttf</string>
		<string>RobotoSerif_28pt_SemiExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Black.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Bold.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Italic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Light.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Medium.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Regular.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-Thin.ttf</string>
		<string>RobotoSerif_28pt_UltraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt-Black.ttf</string>
		<string>RobotoSerif_36pt-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt-Bold.ttf</string>
		<string>RobotoSerif_36pt-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt-Italic.ttf</string>
		<string>RobotoSerif_36pt-Light.ttf</string>
		<string>RobotoSerif_36pt-LightItalic.ttf</string>
		<string>RobotoSerif_36pt-Medium.ttf</string>
		<string>RobotoSerif_36pt-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt-Regular.ttf</string>
		<string>RobotoSerif_36pt-SemiBold.ttf</string>
		<string>RobotoSerif_36pt-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt-Thin.ttf</string>
		<string>RobotoSerif_36pt-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Black.ttf</string>
		<string>RobotoSerif_36pt_Condensed-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Bold.ttf</string>
		<string>RobotoSerif_36pt_Condensed-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_Condensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_Condensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Italic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Light.ttf</string>
		<string>RobotoSerif_36pt_Condensed-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Medium.ttf</string>
		<string>RobotoSerif_36pt_Condensed-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Regular.ttf</string>
		<string>RobotoSerif_36pt_Condensed-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_Condensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_Condensed-Thin.ttf</string>
		<string>RobotoSerif_36pt_Condensed-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Black.ttf</string>
		<string>RobotoSerif_36pt_Expanded-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Bold.ttf</string>
		<string>RobotoSerif_36pt_Expanded-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_Expanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_Expanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Italic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Light.ttf</string>
		<string>RobotoSerif_36pt_Expanded-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Medium.ttf</string>
		<string>RobotoSerif_36pt_Expanded-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Regular.ttf</string>
		<string>RobotoSerif_36pt_Expanded-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_Expanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_Expanded-Thin.ttf</string>
		<string>RobotoSerif_36pt_Expanded-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Black.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Bold.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Italic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Light.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Medium.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Regular.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-Thin.ttf</string>
		<string>RobotoSerif_36pt_ExtraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Black.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Bold.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Italic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Light.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Medium.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Regular.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-Thin.ttf</string>
		<string>RobotoSerif_36pt_ExtraExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Black.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Bold.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Italic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Light.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Medium.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Regular.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-Thin.ttf</string>
		<string>RobotoSerif_36pt_SemiCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Black.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Bold.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Italic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Light.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Medium.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Regular.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-Thin.ttf</string>
		<string>RobotoSerif_36pt_SemiExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Black.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Bold.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Italic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Light.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Medium.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Regular.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-Thin.ttf</string>
		<string>RobotoSerif_36pt_UltraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt-Black.ttf</string>
		<string>RobotoSerif_72pt-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt-Bold.ttf</string>
		<string>RobotoSerif_72pt-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt-Italic.ttf</string>
		<string>RobotoSerif_72pt-Light.ttf</string>
		<string>RobotoSerif_72pt-LightItalic.ttf</string>
		<string>RobotoSerif_72pt-Medium.ttf</string>
		<string>RobotoSerif_72pt-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt-Regular.ttf</string>
		<string>RobotoSerif_72pt-SemiBold.ttf</string>
		<string>RobotoSerif_72pt-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt-Thin.ttf</string>
		<string>RobotoSerif_72pt-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Black.ttf</string>
		<string>RobotoSerif_72pt_Condensed-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Bold.ttf</string>
		<string>RobotoSerif_72pt_Condensed-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_Condensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_Condensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Italic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Light.ttf</string>
		<string>RobotoSerif_72pt_Condensed-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Medium.ttf</string>
		<string>RobotoSerif_72pt_Condensed-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Regular.ttf</string>
		<string>RobotoSerif_72pt_Condensed-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_Condensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_Condensed-Thin.ttf</string>
		<string>RobotoSerif_72pt_Condensed-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Black.ttf</string>
		<string>RobotoSerif_72pt_Expanded-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Bold.ttf</string>
		<string>RobotoSerif_72pt_Expanded-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_Expanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_Expanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Italic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Light.ttf</string>
		<string>RobotoSerif_72pt_Expanded-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Medium.ttf</string>
		<string>RobotoSerif_72pt_Expanded-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Regular.ttf</string>
		<string>RobotoSerif_72pt_Expanded-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_Expanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_Expanded-Thin.ttf</string>
		<string>RobotoSerif_72pt_Expanded-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Black.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Bold.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Italic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Light.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Medium.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Regular.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-Thin.ttf</string>
		<string>RobotoSerif_72pt_ExtraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Black.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Bold.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Italic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Light.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Medium.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Regular.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-Thin.ttf</string>
		<string>RobotoSerif_72pt_ExtraExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Black.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Bold.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Italic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Light.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Medium.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Regular.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-Thin.ttf</string>
		<string>RobotoSerif_72pt_SemiCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Black.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Bold.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Italic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Light.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Medium.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Regular.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-Thin.ttf</string>
		<string>RobotoSerif_72pt_SemiExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Black.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Bold.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Italic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Light.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Medium.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Regular.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-Thin.ttf</string>
		<string>RobotoSerif_72pt_UltraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_Condensed-Black.ttf</string>
		<string>RobotoSerif_Condensed-BlackItalic.ttf</string>
		<string>RobotoSerif_Condensed-Bold.ttf</string>
		<string>RobotoSerif_Condensed-BoldItalic.ttf</string>
		<string>RobotoSerif_Condensed-ExtraBold.ttf</string>
		<string>RobotoSerif_Condensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_Condensed-ExtraLight.ttf</string>
		<string>RobotoSerif_Condensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_Condensed-Italic.ttf</string>
		<string>RobotoSerif_Condensed-Light.ttf</string>
		<string>RobotoSerif_Condensed-LightItalic.ttf</string>
		<string>RobotoSerif_Condensed-Medium.ttf</string>
		<string>RobotoSerif_Condensed-MediumItalic.ttf</string>
		<string>RobotoSerif_Condensed-Regular.ttf</string>
		<string>RobotoSerif_Condensed-SemiBold.ttf</string>
		<string>RobotoSerif_Condensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_Condensed-Thin.ttf</string>
		<string>RobotoSerif_Condensed-ThinItalic.ttf</string>
		<string>RobotoSerif_Expanded-Black.ttf</string>
		<string>RobotoSerif_Expanded-BlackItalic.ttf</string>
		<string>RobotoSerif_Expanded-Bold.ttf</string>
		<string>RobotoSerif_Expanded-BoldItalic.ttf</string>
		<string>RobotoSerif_Expanded-ExtraBold.ttf</string>
		<string>RobotoSerif_Expanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_Expanded-ExtraLight.ttf</string>
		<string>RobotoSerif_Expanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_Expanded-Italic.ttf</string>
		<string>RobotoSerif_Expanded-Light.ttf</string>
		<string>RobotoSerif_Expanded-LightItalic.ttf</string>
		<string>RobotoSerif_Expanded-Medium.ttf</string>
		<string>RobotoSerif_Expanded-MediumItalic.ttf</string>
		<string>RobotoSerif_Expanded-Regular.ttf</string>
		<string>RobotoSerif_Expanded-SemiBold.ttf</string>
		<string>RobotoSerif_Expanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_Expanded-Thin.ttf</string>
		<string>RobotoSerif_Expanded-ThinItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Black.ttf</string>
		<string>RobotoSerif_ExtraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Bold.ttf</string>
		<string>RobotoSerif_ExtraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Italic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Light.ttf</string>
		<string>RobotoSerif_ExtraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Medium.ttf</string>
		<string>RobotoSerif_ExtraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Regular.ttf</string>
		<string>RobotoSerif_ExtraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_ExtraCondensed-Thin.ttf</string>
		<string>RobotoSerif_ExtraCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Black.ttf</string>
		<string>RobotoSerif_ExtraExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Bold.ttf</string>
		<string>RobotoSerif_ExtraExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_ExtraExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_ExtraExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Italic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Light.ttf</string>
		<string>RobotoSerif_ExtraExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Medium.ttf</string>
		<string>RobotoSerif_ExtraExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Regular.ttf</string>
		<string>RobotoSerif_ExtraExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_ExtraExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_ExtraExpanded-Thin.ttf</string>
		<string>RobotoSerif_ExtraExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Black.ttf</string>
		<string>RobotoSerif_SemiCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Bold.ttf</string>
		<string>RobotoSerif_SemiCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Italic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Light.ttf</string>
		<string>RobotoSerif_SemiCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Medium.ttf</string>
		<string>RobotoSerif_SemiCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Regular.ttf</string>
		<string>RobotoSerif_SemiCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_SemiCondensed-Thin.ttf</string>
		<string>RobotoSerif_SemiCondensed-ThinItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Black.ttf</string>
		<string>RobotoSerif_SemiExpanded-BlackItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Bold.ttf</string>
		<string>RobotoSerif_SemiExpanded-BoldItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-ExtraBold.ttf</string>
		<string>RobotoSerif_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-ExtraLight.ttf</string>
		<string>RobotoSerif_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Italic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Light.ttf</string>
		<string>RobotoSerif_SemiExpanded-LightItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Medium.ttf</string>
		<string>RobotoSerif_SemiExpanded-MediumItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Regular.ttf</string>
		<string>RobotoSerif_SemiExpanded-SemiBold.ttf</string>
		<string>RobotoSerif_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_SemiExpanded-Thin.ttf</string>
		<string>RobotoSerif_SemiExpanded-ThinItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Black.ttf</string>
		<string>RobotoSerif_UltraCondensed-BlackItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Bold.ttf</string>
		<string>RobotoSerif_UltraCondensed-BoldItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-ExtraBold.ttf</string>
		<string>RobotoSerif_UltraCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-ExtraLight.ttf</string>
		<string>RobotoSerif_UltraCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Italic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Light.ttf</string>
		<string>RobotoSerif_UltraCondensed-LightItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Medium.ttf</string>
		<string>RobotoSerif_UltraCondensed-MediumItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Regular.ttf</string>
		<string>RobotoSerif_UltraCondensed-SemiBold.ttf</string>
		<string>RobotoSerif_UltraCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoSerif_UltraCondensed-Thin.ttf</string>
		<string>RobotoSerif_UltraCondensed-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
